<div class="dashboard-wrapper">
    <h2>Executive Dashboard</h2>
    <div>
        <div class="date-picker"></div>
        <div class="dashboard-container">
            <div class="card-details">
                <div class="card">
                    <h3>New Wins</h3>
                    <div class="card-content">
                        <span class="current-status">23%</span>
                        <span class="increment">&#8593;25%</span>
                        <small>vs previous 30 days</small>
                    </div>
                </div>
                <div class="card">
                    <h3>Trial: Win Rate</h3>
                    <div class="card-content">
                        <span class="current-status">23%</span>
                        <span class="increment">&#8593;25%</span>
                        <small>vs previous 30 days</small>
                    </div>
                </div>
                <div class="card">
                    <h3>New MRR</h3>
                    <div class="card-content">
                        <span class="current-status">23%</span>
                        <span class="increment">&#8593;25%</span>
                        <small>vs previous 30 days</small>
                    </div>
                </div>
                <div class="card">
                    <h3>Page Views </h3>
                    <div class="card-content"></div>
                </div>
            </div>
            <div class="card-charts">
                <div class="card">
                    <h3>MRR State by Country</h3>
                    <div></div>
                </div>
                <div class="card">
                    <h3>Page Views</h3>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>